In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
## Load the dataset
df=pd.read_csv("./Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Preprocess the data
### Drop irrelevant columns
data=df.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
## Combine one hot encoder columns with the original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
## Save the encoders and sscaler
with open('./Saved Model/label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('./Saved Model/onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [16]:
# Estimated Salary will be our output feature 
import tensorflow 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
## DiVide the dataset into indepent and dependent features
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [28]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1)  ## output layer
]

)

In [40]:
## Compiling the model 
loss=tf.keras.losses.MeanAbsoluteError
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [41]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="./logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [42]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [43]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100389.9453 - mae: 100389.9453 - val_loss: 98557.5234 - val_mae: 98557.5234
Epoch 2/100
250/250 [==============================] - 0s 966us/step - loss: 99745.1250 - mae: 99745.1250 - val_loss: 97217.2188 - val_mae: 97217.2188
Epoch 3/100
250/250 [==============================] - 0s 867us/step - loss: 97390.6328 - mae: 97390.6328 - val_loss: 93726.2266 - val_mae: 93726.2266
Epoch 4/100
250/250 [==============================] - 0s 879us/step - loss: 92670.4219 - mae: 92670.4219 - val_loss: 87794.5469 - val_mae: 87794.5469
Epoch 5/100
250/250 [==============================] - 0s 906us/step - loss: 85675.6484 - mae: 85675.6484 - val_loss: 79999.8438 - val_mae: 79999.8438
Epoch 6/100
250/250 [==============================] - 0s 866us/step - loss: 77168.0469 - mae: 77168.0469 - val_loss: 71526.0703 - val_mae: 71526.0703
Epoch 7/100
250/250 [==============================] - 0s 971us/step - loss: 68593.0859 - mae: 68593.0859 - val_loss: 63744.5156 - val_mae: 63744.5156
Epoch 8/100
250/250 [==============================] - 0s 825us/step - loss: 61233.6797 - mae: 61233.6797 - val_loss: 57655.0117 - val_mae: 57655.0117
Epoch 9/100
250/250 [==============================] - 0s 806us/step - loss: 55937.4531 - mae: 55937.4531 - val_loss: 53848.2266 - val_mae: 53848.2266
Epoch 10/100
250/250 [==============================] - 0s 805us/step - loss: 52862.0195 - mae: 52862.0195 - val_loss: 51886.8906 - val_mae: 51886.8906
Epoch 11/100
250/250 [==============================] - 0s 811us/step - loss: 51304.8789 - mae: 51304.8789 - val_loss: 51002.3906 - val_mae: 51002.3906
Epoch 12/100
250/250 [==============================] - 0s 807us/step - loss: 50593.4844 - mae: 50593.4844 - val_loss: 50652.1680 - val_mae: 50652.1680
Epoch 13/100
250/250 [==============================] - 0s 821us/step - loss: 50271.8789 - mae: 50271.8789 - val_loss: 50521.7891 - val_mae: 50521.7891
Epoch 14/100
250/250 [==============================] - 0s 987us/step - loss: 50123.4805 - mae: 50123.4805 - val_loss: 50452.8242 - val_mae: 50452.8242
Epoch 15/100
250/250 [==============================] - 0s 861us/step - loss: 50039.8711 - mae: 50039.8711 - val_loss: 50405.9375 - val_mae: 50405.9375
Epoch 16/100
250/250 [==============================] - 0s 832us/step - loss: 49980.3633 - mae: 49980.3633 - val_loss: 50376.8711 - val_mae: 50376.8711
Epoch 17/100
250/250 [==============================] - 0s 827us/step - loss: 49941.9297 - mae: 49941.9297 - val_loss: 50337.9570 - val_mae: 50337.9570
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 49905.9219 - mae: 49905.9219 - val_loss: 50315.5430 - val_mae: 50315.5430
Epoch 19/100
250/250 [==============================] - 0s 812us/step - loss: 49872.9648 - mae: 49872.9648 - val_loss: 50286.5312 - val_mae: 50286.5312
Epoch 20/100
250/250 [==============================] - 0s 911us/step - loss: 49847.7969 - mae: 49847.7969 - val_loss: 50274.1016 - val_mae: 50274.1016
Epoch 21/100
250/250 [==============================] - 0s 847us/step - loss: 49827.9023 - mae: 49827.9023 - val_loss: 50257.1250 - val_mae: 50257.1250
Epoch 22/100
250/250 [==============================] - 0s 801us/step - loss: 49801.5273 - mae: 49801.5273 - val_loss: 50244.4141 - val_mae: 50244.4141
Epoch 23/100
250/250 [==============================] - 0s 872us/step - loss: 49782.1055 - mae: 49782.1055 - val_loss: 50229.4141 - val_mae: 50229.4141
Epoch 24/100
250/250 [==============================] - 0s 822us/step - loss: 49760.6211 - mae: 49760.6211 - val_loss: 50224.1211 - val_mae: 50224.1211
Epoch 25/100
250/250 [==============================] - 0s 801us/step - loss: 49742.6016 - mae: 49742.6016 - val_loss: 50219.8359 - val_mae: 50219.8359
Epoch 26/100
250/250 [==============================] - 0s 838us/step - loss: 49725.4258 - mae: 49725.4258 - val_loss: 50215.4375 - val_mae: 50215.4375
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49709.7461 - mae: 49709.7461 - val_loss: 50202.3242 - val_mae: 50202.3242
Epoch 28/100
250/250 [==============================] - 0s 919us/step - loss: 49694.6914 - mae: 49694.6914 - val_loss: 50197.8555 - val_mae: 50197.8555
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49678.9844 - mae: 49678.9844 - val_loss: 50188.8711 - val_mae: 50188.8711
Epoch 30/100
250/250 [==============================] - 0s 851us/step - loss: 49667.5938 - mae: 49667.5938 - val_loss: 50185.1289 - val_mae: 50185.1289
Epoch 31/100
250/250 [==============================] - 0s 855us/step - loss: 49655.6406 - mae: 49655.6406 - val_loss: 50189.4375 - val_mae: 50189.4375
Epoch 32/100
250/250 [==============================] - 0s 965us/step - loss: 49640.3711 - mae: 49640.3711 - val_loss: 50188.9648 - val_mae: 50188.9648
Epoch 33/100
250/250 [==============================] - 0s 829us/step - loss: 49629.6211 - mae: 49629.6211 - val_loss: 50188.1016 - val_mae: 50188.1016
Epoch 34/100
250/250 [==============================] - 0s 858us/step - loss: 49617.9492 - mae: 49617.9492 - val_loss: 50180.6016 - val_mae: 50180.6016
Epoch 35/100
250/250 [==============================] - 0s 877us/step - loss: 49606.5391 - mae: 49606.5391 - val_loss: 50177.6797 - val_mae: 50177.6797
Epoch 36/100
250/250 [==============================] - 0s 927us/step - loss: 49597.5781 - mae: 49597.5781 - val_loss: 50182.6055 - val_mae: 50182.6055
Epoch 37/100
250/250 [==============================] - 0s 840us/step - loss: 49590.8789 - mae: 49590.8789 - val_loss: 50176.6367 - val_mae: 50176.6367
Epoch 38/100
250/250 [==============================] - 0s 887us/step - loss: 49579.2188 - mae: 49579.2188 - val_loss: 50175.1680 - val_mae: 50175.1680
Epoch 39/100
250/250 [==============================] - 0s 882us/step - loss: 49572.9062 - mae: 49572.9062 - val_loss: 50173.5977 - val_mae: 50173.5977
Epoch 40/100
250/250 [==============================] - 0s 845us/step - loss: 49562.5586 - mae: 49562.5586 - val_loss: 50174.2539 - val_mae: 50174.2539
Epoch 41/100
250/250 [==============================] - 0s 835us/step - loss: 49556.6055 - mae: 49556.6055 - val_loss: 50181.0312 - val_mae: 50181.0312
Epoch 42/100
250/250 [==============================] - 0s 839us/step - loss: 49548.5195 - mae: 49548.5195 - val_loss: 50172.3242 - val_mae: 50172.3242
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49541.0742 - mae: 49541.0742 - val_loss: 50171.5703 - val_mae: 50171.5703
Epoch 44/100
250/250 [==============================] - 0s 944us/step - loss: 49533.7969 - mae: 49533.7969 - val_loss: 50167.0703 - val_mae: 50167.0703
Epoch 45/100
250/250 [==============================] - 0s 845us/step - loss: 49530.6016 - mae: 49530.6016 - val_loss: 50160.8555 - val_mae: 50160.8555
Epoch 46/100
250/250 [==============================] - 0s 829us/step - loss: 49523.2344 - mae: 49523.2344 - val_loss: 50166.7227 - val_mae: 50166.7227
Epoch 47/100
250/250 [==============================] - 0s 820us/step - loss: 49516.8008 - mae: 49516.8008 - val_loss: 50176.6211 - val_mae: 50176.6211
Epoch 48/100
250/250 [==============================] - 0s 847us/step - loss: 49508.9648 - mae: 49508.9648 - val_loss: 50166.8125 - val_mae: 50166.8125
Epoch 49/100
250/250 [==============================] - 0s 825us/step - loss: 49504.3281 - mae: 49504.3281 - val_loss: 50168.8711 - val_mae: 50168.8711
Epoch 50/100
250/250 [==============================] - 0s 824us/step - loss: 49495.8438 - mae: 49495.8438 - val_loss: 50168.4258 - val_mae: 50168.4258
Epoch 51/100
250/250 [==============================] - 0s 828us/step - loss: 49488.6250 - mae: 49488.6250 - val_loss: 50173.9414 - val_mae: 50173.9414
Epoch 52/100
250/250 [==============================] - 0s 837us/step - loss: 49488.6016 - mae: 49488.6016 - val_loss: 50177.8516 - val_mae: 50177.8516
Epoch 53/100
250/250 [==============================] - 0s 844us/step - loss: 49477.6250 - mae: 49477.6250 - val_loss: 50171.9805 - val_mae: 50171.9805
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49474.4844 - mae: 49474.4844 - val_loss: 50181.4727 - val_mae: 50181.4727
Epoch 55/100
250/250 [==============================] - 0s 988us/step - loss: 49469.9844 - mae: 49469.9844 - val_loss: 50178.4570 - val_mae: 50178.4570

In [44]:
## Load Tensorboard Extension
%load_ext tensorboard

In [46]:
%tensorboard --logdir /Users/pranjalbhatt/Documents/GitProjects/2.ANN Regression/logs/fit/20241130-163141

Launching TensorBoard...

In [47]:
model.save('./regession_model.h5')